# This form does not include the interactive-login configuration in minimal.
Port 22
AddressFamily inet
HostKey /data/svc/sshd/host-key
PidFile /run/svc/sshd/sshd.pid
AuthorizedKeysFile /run/svc/sshd/authorized-keys
AllowUsers bastion
PermitRootLogin no
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM no
StrictModes yes
KexAlgorithms mlkem768x25519-sha256,sntrup761x25519-sha512,sntrup761x25519-sha512@openssh.com
HostKeyAlgorithms ssh-ed25519
PubkeyAcceptedAlgorithms ssh-ed25519,sk-ssh-ed25519@openssh.com
MACs -*sha1*,umac-64*
AllowTcpForwarding local
Include /run/svc/sshd/destinations
PermitOpen none
PermitListen none
AllowStreamLocalForwarding no
AllowAgentForwarding no
X11Forwarding no
PermitTunnel no
GatewayPorts no
PermitTTY no
PermitUserRC no
PermitUserEnvironment no
MaxSessions 0
MaxAuthTries 3
MaxStartups 10:30:30
LoginGraceTime 30
ClientAliveInterval 60
ClientAliveCountMax 3
UseDNS no
LogLevel VERBOSE
